<div class="container sidebar-left">
    <h2 class="ui header">Categories</h2>
    <ul class="ui list">
        <li>Gaining Access</li>
        <li>Inviting Friends</li>
        <li>Benefits
            <ul>
                <li>Use Anywhere</li>
                <li>Rebates</li>
                <li>Discounts</li>
            </ul>
        </li>
        <li>Warranty</li>
    </ul>
</div>