<div class="ui middle aligned center aligned grid page-content">
    <div class="column">
        <h2 class="ui teal image header">
            <div class="content">
                Shopper login
            </div>
        </h2>
        <form class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" [(ngModel)]="login" placeholder="E-mail address">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" [(ngModel)]="password" placeholder="Password">
                    </div>
                </div>
                <div [class.loading]="loaderActive" class="ui fluid large teal submit button" (click)="signIn()" >Login</div>
            </div>

            <div class="ui error message"></div>

        </form>

        <div class="ui message">
            New to us? <a routerLink="/sign-up">Sign Up</a>
        </div>
    </div>
</div>