<div class="ui divided items box">
    <div class="item" *ngFor="let item of items"
         (click)="gotoDetail(item)">
        <div class="ui small image">
            <img src="../../../../img/box.png">
        </div>
        <div class="content">
            <div class="header">Item</div>
            <div class="meta">
                <span class="price">$1200</span>
                <span class="stay">Category</span>
            </div>
            <div class="description">
                <p></p>
            </div>
            <div class="extra">
                <div class="ui right floated primary button">
                    Buy
                    <i class="right chevron icon"></i>
                </div>
                <div class="ui label">Limited</div>
            </div>
        </div>
    </div>
</div>
