<div class="ui middle aligned center aligned stackable grid container page-content">
    <div class="centered row">
        <h2 class="ui teal image header">
            <div class="content">
                Shopper sign up
            </div>
        </h2>
    </div>
    <form class="ui large form">
        <div class="ui stacked segment">
            <div class="ui grid">
                <div class="eight wide column">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" [(ngModel)]="user.personalInfo.firstName" name="firstName" placeholder="First name">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" [(ngModel)]="user.personalInfo.lastName" name="lastName" placeholder="Last name">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" [(ngModel)]="user.login" name="login" placeholder="Login">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" [(ngModel)]="user.email" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" [(ngModel)]="user.password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" [(ngModel)]="password" name="repPassword" placeholder="Repeat password">
                        </div>
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="call icon"></i>
                            <input type="text" [(ngModel)]="user.personalInfo.phoneNumber" name="phoneNumber" placeholder="Phone number">
                        </div>
                    </div>
                    <div class="field">
                        <textarea rows="1" [(ngModel)]="user.personalInfo.additionalContacts" name="additionalContacts" placeholder="Additional contacts (ex. skype)"></textarea>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>Country</label>
                            <div class="ui fluid search selection dropdown"
                                 (click)="changeCountriesMenuVisibility()" >
                                <input type="hidden" name="country">
                                <i class="dropdown icon"></i>
                                <div class="text" [attr.data-value]="activeCountry?.id">
                                    <i class="{{activeCountry?.abbr}} flag"></i>{{activeCountry?.name}}
                                </div>
                                <div class="menu" [class.transition]="countryInputVisibility"
                                     [class.visible]="countryInputVisibility">
                                    <div [class.active]="country == activeCountry"
                                         [class.selected]="country == activeCountry"
                                         class="item" *ngFor="let country of countries" >
                                        <i class="{{country.abbr}} flag"></i>{{country.name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>City</label>
                            <select [(ngModel)]="user.personalInfo.city.id" name="city" class="ui fluid dropdown">
                                <option value="">State</option>
                                <option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="building icon"></i>
                            <input type="text" [(ngModel)]="user.personalInfo.address" name="address" placeholder="Address">
                        </div>
                    </div>
                    <div class="field">
                        <label>Upload photo</label>
                        <div class="ui action input">
                            <input type="text" placeholder="File not chosen">
                            <button class="ui button">Upload</button>
                            <input type="file" hidden>
                        </div>
                    </div>
                </div>
                <div class="eight column centered row">
                    <div class="ui error message"></div>
                    <div [class.loading]="loaderActive" class="ui fluid large teal submit button" (click)="signUp()">Sign Up</div>
                </div>
            </div>
        </div>

        <div class="ui message">
            Have an account? <a routerLink="/sign-in">Sign In</a>
        </div>
    </form>
</div>
