<sg-navbar [activeItem]="'advertisements'"></sg-navbar>
<div id="content" class="ui grid">
    <div class="four wide column">
        <sg-categories-container></sg-categories-container>
    </div>
    <div class="eleven wide column">
        <h2 class="ui header">Items</h2>
        <sg-items-filter-menu></sg-items-filter-menu>
        <sg-items-list></sg-items-list>
        <sg-pagination-menu></sg-pagination-menu>
        <br><br><br>
    </div>
</div>

<sg-footer></sg-footer>
