<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <div class="active item">
            <a routerLink="/home" routerLinkActive="active">Home</a>
        </div>
        <div class="item">
            <a routerLink="/advertisements" routerLinkActive="active">Advertisements</a>
        </div>
        <div class="item">
            <a routerLink="/about" routerLinkActive="active">About</a>
        </div>
        <div class="item">
            <a routerLink="/help" routerLinkActive="active">Help</a>
        </div>
        <div class="right menu">
            <div class="item">
                <a class="ui button">Log in</a>
            </div>
            <div class="item">
                <a class="ui primary button">Sign Up</a>
            </div>
        </div>
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <div class="active item">
        <a routerLink="/home" routerLinkActive="active">Home</a>
    </div>
    <div class="item">
        <a routerLink="/advertisements" routerLinkActive="active">Advertisements</a>
    </div>
    <div class="item">
        <a routerLink="/about" routerLinkActive="active">About</a>
    </div>
    <div class="item">
        <a routerLink="/help" routerLinkActive="active">Help</a>
    </div>
    <div class="item">
        <a routerLink="/sign-in" routerLinkActive="active">Sign In</a>
    </div>
    <div class="item">
        <a routerLink="/sign-up" routerLinkActive="active">Sign Up</a>
    </div>
</div>


<!-- Page Contents -->
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment head-background">

        <div class="ui container">
            <div class="ui large secondary inverted pointing menu border-none">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <div class="active item">
                    <a routerLink="/home" routerLinkActive="active">Home</a>
                </div>
                <div class="item">
                    <a routerLink="/advertisements" routerLinkActive="active">Advertisements</a>
                </div>
                <div class="item">
                    <a routerLink="/about" routerLinkActive="active">About</a>
                </div>
                <div class="item">
                    <a routerLink="/help" routerLinkActive="active">Help</a>
                </div>
                <div class="right item">
                    <a class="ui inverted button">Log in</a>
                    <a class="ui inverted primary button">Sign Up</a>
                </div>
            </div>
        </div>

        <div class="ui text container">
            <h1 class="ui inverted header">
                Need some items? There are all that you need
            </h1>
            <h2>Get whatever you want when you want to.</h2>
            <div class="ui huge primary button">Find item<i class="right arrow icon"></i></div>
        </div>

    </div>

    <div class="ui vertical stripe segment">
        <div class="ui one column stackable center aligned page grid">
            <div class="column twelve wide">
                <div class="row">
                    <div class="center aligned column">
                        <h3 class="ui header">The Most Popular Items</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui stackable center aligned page grid">
            <sg-items-container></sg-items-container>
        </div>
        <div class="ui text container">
            <h4 class="ui horizontal header divider">
                <a href="#">or</a>
            </h4>
        </div>
        <div class="ui one column stackable center aligned page grid">
            <div class="column twelve wide">
                <div class="row">
                    <div class="center aligned column">
                        <h3 class="ui header">Recently Added Items</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui stackable center aligned page grid">
            <sg-items-container></sg-items-container>
        </div>
    </div>

    <sg-footer></sg-footer>
</div>
