<div class="ui inverted menu square">
    <div class="header item">
        <img src="../../../../img/icon.svg" width="20" height="20"/>
        Shopper
    </div>
    <div [class.active]="activeItem === 'home'" class="item">
        <a routerLink="/home" routerLinkActive="active">Home</a>
    </div>
    <div [class.active]="activeItem === 'advertisements'" class="item">
        <a routerLink="/advertisements" routerLinkActive="active">Advertisements</a>
    </div>
    <div [class.active]="activeItem === 'about'" class="item">
        <a routerLink="/about" routerLinkActive="active">About</a>
    </div>
    <div [class.active]="activeItem === 'help'" class="item">
        <a routerLink="/help" routerLinkActive="active">Help</a>
    </div>
    <div class="ui dropdown item" tabindex="0">
        Dashboard
        <i class="dropdown icon"></i>
        <div class="menu" tabindex="-1">
            <div class="item">Action</div>
            <div class="item">Another Action</div>
            <div class="item">Something else here</div>
            <div class="divider"></div>
            <div class="item">Separated Link</div>
            <div class="divider"></div>
            <div class="item">One more separated link</div>
        </div>
    </div>
    <div class="right menu">
        <div class="item">
            <div class="ui transparent inverted icon input">
                <i class="search icon"></i>
                <input type="text" placeholder="Search">
            </div>
        </div>
        <a class="item" routerLink="/sign-in" routerLinkActive="active">Login</a>
    </div>
</div>