<div class="ui inverted square top fixed menu">
    <div class="right menu">
        <div class="item">
            <img class="ui mini circular image" src="../../../../img/icon.svg">
            <div class="content">
                <div class="ui sub header">Elyse</div>
                Developer
            </div>
        </div>
    </div>
</div>