<div class="ui secondary  menu">
    <div class="item">
        Filter by :
    </div>
    <a class="active item">
        Date added <i class="angle down icon"></i>
    </a>
    <a class="item">
        Rating <i class="angle down icon"></i>
    </a>
    <a class="item">
        Price <i class="angle down icon"></i>
    </a>
    <div class="right menu">
        <div class="item">
            <div class="ui icon input">
                <input placeholder="Search..." type="text">
                <i class="search link icon"></i>
            </div>
        </div>
        <div class="ui dropdown item" tabindex="0">
            By item name
            <i class="dropdown icon"></i>
            <div class="menu" tabindex="-1">
                <div class="item">By item name</div>
                <div class="item">By category</div>
            </div>
        </div>
    </div>
</div>
