<div class="ui one column stackable center aligned page grid">
    <div class="column twelve wide">
        <div class="row">
            <div class="center aligned column">
                <div class="ui pagination menu">
                    <a class="active item">
                        1
                    </a>
                    <div class="disabled item">
                        ...
                    </div>
                    <a class="item">
                        10
                    </a>
                    <a class="item">
                        11
                    </a>
                    <a class="item">
                        12
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>