<div class="ui link cards">
    <div class="card" *ngFor="let item of items"
         (click)="gotoDetail(item)">
        <div class="image">
            <img src="../../../../img/box.png">
        </div>
        <div class="content">
            <div class="header">Item</div>
            <div class="meta">
                <a>Category</a>
            </div>
            <div class="description">
                Description for item. Looks great.
            </div>
        </div>
        <div class="extra content">
            <span class="left floated like">
              <i class="like icon"></i>
              Like
            </span>
            <span class="right floated star">
              <i class="star icon"></i>
              Favorite
            </span>
        </div>
    </div>
</div>