<div class="ui vertical inverted sidebar menu visible" id="toc">
    <div class="item">
        <img class="ui mini circular image" src="../../../../img/icon.svg">
    </div>
    <a class="active item" href="my-items">
        <b>My Items</b>
    </a>
    <a class="item" href="requests">
        <b>Requests</b>
    </a>
    <a class="item" href="bookmarks">
        <b>Bookmarks</b>
    </a>
    <a class="item" href="appointments">
        <b>Appointments</b>
    </a>

</div>