<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">Sitemap</h4>
                <div class="ui inverted link list">
                    <a routerLink="/home" class="item">Home</a>
                    <a routerLink="/advertisements" class="item">Advertisements</a>
                    <a routerLink="/about" class="item">About</a>
                    <a routerLink="/help" class="item">Help</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Services</h4>
                <div class="ui inverted link list">
                    <a routerLink="/sign-in" class="item">Sign in</a>
                    <a routerLink="/sign-up" class="item">Sign up</a>
                    <a href="#" class="item">Contacts</a>
                    <a href="#" class="item">Leave feedback</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Shopper team ™</h4>
                <p>We only do high-quality software that people need.</p>
            </div>
        </div>
    </div>
</div>